<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/formulaires.css">
    <title>Register</title>
  </head>
  <body>
    

    <h1>Register</h1>

    <div class="container">
    <form
      th:action="@{/register/save}"
      action="/register/save"
      method="post"
      th:object="${user}"
    >
      <label for="username">Nom</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        th:field="*{username}"
      />

      <label for="displayName">Pseudo</label>
      <input
        type="text"
        name="displayName"
        id="displayName"
        placeholder="Pseudo"
        th:field="*{displayName}"
      />

      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="username"
        placeholder="Email"
        th:field="*{email}"
      />

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        th:field="*{password}"
      />

      <label for="passwordConfirm">Confirmation </label>
      <input
        type="password"
        name="passwordConfirm"
        id="passwordConfirm"
        placeholder="Confirm password"
        th:field="*{passwordConfirm}"
      />

      <button type="submit" value="register" >Register</button>
    </form>
    <a th:href="@{/login}" href="/login"
        >Already have an account ? login here</a
      >
    </div>
  </body>
</html>
