<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" href="/css/restaurant-list.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Nearby Restaurants</title>
  </head>
  <body>
    <header>
      <div id="container">
        <div class="header-content">
          <div class="logo">ForkNow</div>
          <a th:href="@{/}" href="/index.html" class="back-button"
            >Back to Home</a
          >

          <div class="profile-menu">
            <i class="fa-solid fa-user"></i>
            <button class="profile-button" th:text="${currentUser.username}" disabled>
              Nom du Profil
            </button>
            <div class="dropdown-content">
              <a href="#">Profil</a>
              <a th:href="@{/restaurant}" href="/restaurant.html"
                >Create your Shop</a
              >
              <form th:if="${currentUser}" th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <h1>Nearby Restaurants</h1>
    <div class="container">
      
      <div class="restaurant-grid" th:each="shop : ${shops}">
        <div class="restaurant-card">
          
          <div class="restaurant-info">
            <h2 th:text="${shop.name}" class="restaurant-name">
              Restaurant name
            </h2>
            <img th:src="${shop.imageUrl}" alt="Restaurant Image" class="restaurant-image">
            <p th:text="${shop.type}" class="restaurant-cuisine">
              Type de restaurant
            </p>
            <div class="restaurant-rating">
              <span class="star">★★★★☆</span>
              <span>4.5 (200+ reviews)</span>
            </div>
            <a href="#" class="order-button">Order Now</a>
            <form th:action="@{/restaurant/{shopId} (shopId=${shop.id})}" method="post">
            <button th:if="${currentUser}">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
